header{
    height: 4.375rem;
}

header .img-container{
    width: 60px;
}
header .img-container > img{
    width: 100%;
}

.ms-bg-grey{
    background-color: #e5e5e5;
}

input[type="search"]{
    width: 100%;
    border:none;
}



@media screen and (min-width:992px) {

   header .img-container {
    width: 150px;
   }
}